.btn {
  &--primary,
  &--secondary {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    border-radius: 8px;
    &:hover {
      background-color: $dark;
      color: $white;
      svg {
        path {
          fill: $white;
        }
      }
    }
  }
  &--primary {
    padding: 17px 36px;
    background-color: $primary;
    color: $red;
  }
  &--secondary {
    padding: 17px 30px; /* Adjust padding as needed */
    color: $dark; /* Specify secondary button text color */
    margin-left: 10px;
  }
}
