.hero {
  background-color: #bef194;
  text-align: center;
}

.container-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #bedaff;
}

.title-hero {
  color: $dark;
  font-size: 18px;
  margin-bottom: 4px;
}

.description-hero {
  color: #666;
  line-height: 23px;
  font-size: 14px;
  text-align: justify;
}

// .row {
//     display: flex;
//     justify-content: space-between;
//     margin-top: 30px;
// }

.col-md-6 {
  text-align: center;
  width: auto;
  padding: 0 15px;
}

.hero-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 120px 20px 120px 20px;
}

@media only screen and (min-width: 768px) {
  .container-hero {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .col-md-6 {
    width: calc(50% - 15px);

  }
  .title-hero {
    line-height: 36px;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .description-hero {
    line-height: 30px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1440px) {
  .title-hero {
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
    margin-bottom: 8px;
  }
}
