.hero {
  background-color: #bef194;
  text-align: center;
}

.container-hero {
  // display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #bedaff;
}

.title-hero {
 color: $dark;
  font-size: 10px;
  margin-bottom: 4px;
}

.description-hero {
  color: #666;
  font-size: 14px; /* Adjust font size for readability */
  text-align: justify;
}

// .row {
//     display: flex;
//     justify-content: space-between;
//     margin-top: 30px;
// }

.col-md-6 {
  text-align: center;
  width: calc(50% - 15px);
  padding: 0 15px;
}

.hero-image {
  width: 100%; /* Ensure image scales appropriately */
  max-width: 600px; /* Limit maximum width for larger screens */
  height: auto; /* Maintain aspect ratio */
}

@media only screen and (min-width: 768px) {
  .title-hero {
    font-size: 36px;
       font-weight: 600;
    margin-bottom: 20px;
  }
  .description-hero {
    font-size: 18px; /* Adjust font size for larger screens */
  }
}

@media only screen and (min-width: 1440px) {
  .title-hero {
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
    margin-bottom: 8px;
  }
}
