.section-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.container-images {
  display: flex;
    gap: 40px;
}

.work-box {
  padding: 10px;

box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.work-image {
  width: 100%;
  height: 546px;
  object-fit: cover;
}

.work-title {
  color: #202220;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.4; /* Remove the space in "56 px" */
  margin-top: 10px; /* Adjust the margin as needed */
}

.work-description {
  color: #555; /* Adjust the color as needed */
  margin-top: 10px; /* Adjust the margin as needed */
  text-align: justify;
}

.work-link {
  display: inline-block;
  color: #fff;
  background-color: #32373c;
  border-radius: 25px;
  text-decoration: none;
  padding: 10px 20px; /* Adjust padding as needed */
  margin-top: auto; /* Adjust margin as needed */
  transition: background-color 0.3s ease;
}

.work-link:hover {
  background-color: #555; /* Adjust hover color as needed */
}
